/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в
HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца;
✦ card__like-button — для кнопки Like рядом с иконкой;
✦ card__icon-button — для кнопки, оборачивающей иконку;
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца;
✦ button__text — для обозначения текстового элемента внутри кнопки.
*/

.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-normal);
  font-size: 18px;
  line-height: 21px;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-inline-size: 700px;
  margin: 0 auto;
}

.header {
  margin-block: 100px;
  border: 2px solid black;
  background-color: white;
}

.accent-text {
  font-family: var(--accent-font, serif);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.header__content {
  margin-block: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card {
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card__title {
  font-variation-settings: 'wght' var(--main-font-weight-bold);
  font-size: 18px;
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
  border-block: 2px solid black;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, serif);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  line-height: 22.09px;
  mix-blend-mode: hard-light;
  /* prettier-ignore */
  text-shadow: 
    1px 1px white,
    -1px -1px white,
    1px -1px white,
    -1px 1px white;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__image-watermark {
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-shadow: none;
  }
}

.card__content {
  padding: 21px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__actions {
  margin-block-end: 25px;
  margin-inline-end: 25px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: end;
  align-self: end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  min-inline-size: 27px;
  min-block-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-icon {
  min-inline-size: 100%;
  min-block-size: 100%;
}

.card__like-button {
  border: 2px solid black;
  background-color: transparent;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  font-family: var(--accent-font, serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid black;
  background-color: white;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 84px;
  margin: 50px auto 0;
}

.save-icon {
  inline-size: 28px;
  block-size: 28px;
}

.dialog {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 40px 0;
}

.dialog__content-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__content-text {
  font-family: var(--accent-font, serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width > 375px) {
  .save-button {
    flex-direction: row;
    block-size: 55px;
  }
  .save-icon {
    inline-size: 21px;
    block-size: 21px;
  }
}
