/* В этом файле будут храниться все значения переменных в исходном состоянии,
а так же их изменения в зависимости от ширины устройства.
*/
:root {
  --main-font: 'Inter', sans-serif;
  --main-font-weight-normal: 410;
  --main-font-weight-bold: 715;
  --accent-font: 'PressStart2P', serif;
  --accent-color: #000;
  --heart-stroke: #000;
  --heart-fill: #f00;
  --heart-sparks-fill: #f00;
  --contour-color: #000;
  --core-color: transparent;
  --main-body-color: transparent;
  --sparks-color: #f00;
  /* prettier-ignore */
  --background-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}
